{% extends "layout.html" %}

{% block title %}Write Sheet{% endblock %}

{% block breadcrumb %}Write Sheet{% endblock %}
{% block breadcrumb-item %}Write Sheet{% endblock %}
{% block css %}
<style>
    body {
        /* overflow-y: hidden; */
    }
</style>
{% endblock %}
{% block content %}
<div id="main_content">
    {% if btn_display == True %}
    <div class="offset-md-6">
        <div class="row">
            <div class="col-md-9">
                <form action="{% url 'exportWriteSheet' %}" method="POST">
                    {% csrf_token %}
                    <button style="float: right;" type="submit" class="btn btn-success" id="export_btn">Export</button>
                </form>
            </div>
            <div class="col-md-3">
                <button data-bs-toggle="modal" data-bs-target="#delModal" style="float: right;" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
    {% endif %}
    <br/>
    <div class="row" style="overflow: auto; max-height: 400px; max-width: 1600px;">
        <table id="ws_table" class="table table-fixed table-bordered table-hover table-stripped">
            <thead>
                <tr>
                    {% for x in thead %}
                        <th>{{x}}</th>
                    {% endfor %}
                </tr>
             </thead>
             <tbody>
                {% for x in dataset %}
                    <tr>
                        {% for r in x %}
                            {% if r == None %}
                               <td></td>
                            {% else %}
                                <td>{{r}}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
             </tbody>
        </table>
    </div>
</div>

<div class="modal" id="delModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Delete</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          Are you sure to delete?
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" id="del_btn" data-bs-dismiss="modal" class="btn btn-primary">Ok</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script>
    $().ready(function() {

        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        $('#del_btn').click(function() {
            $.ajaxSetup({
                headers: {
                    "X-CSRFToken": csrftoken
                }
            });
            $.ajax({
                type: "POST",
                url: "{% url 'deleteWriteSheet' %}",
                success: function(res) {
                    if (res.msg == 'success') {
                        toastr.success('Delete Success!');
                        setTimeout(function() {
                            location.reload();
                        }, 2000);
                    }
                }
            });
            
        });
    }); 
</script>
{% endblock %}