{% extends "layout.html" %}

{% block title %}Wrtie Sheet{% endblock %}

{% block breadcrumb %}Wrtie Sheet{% endblock %}
{% block breadcrumb-item %}Wrtie Sheet{% endblock %}
{% block css %}
{% endblock %}
{% block content %}
<div id="main_content">
    <div class="offset-md-6">
        <div class="row">
            <div class="offset-md-9">
                <form action="{% url 'exportWriteSheet' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success" id="export_btn">Export</button>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="row" style="overflow: auto;">
        <table id="ws_table" class="table table-fixed table-bordered table-hover table-stripped">
            <thead>
                <tr>
                    {% for x in thead %}
                        <th>{{x}}</th>
                    {% endfor %}
                </tr>
             </thead>
             <tbody>
                {% for x in dataset %}
                    <tr>
                        {% for r in x %}
                            <td>{{r}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
             </tbody>
        </table>
        <div id="sudo_form"></div>
    </div>
</div>

{% endblock %}
{% block script %}
<!-- <script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script> -->
<script>
    $().ready(function() {
        $('#ws_table').DataTable();

    });
</script>
{% endblock %}