{% extends "layout.html" %}

{% block title %}Change Password{% endblock %}

{% block breadcrumb %}{% endblock %}
{% block breadcrumb-item %}{% endblock %}
{% block css %}

{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <!-- <span class="anchor"></span> -->
        <!-- form card change password -->
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0">Change Password</h3>
            </div>
            <div class="card-body">
                <!-- <form autocomplete="off" onsubmit=""> -->
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="inputPasswordOld">Current Password</label>
                        <input type="password" class="form-control" id="inputPasswordOld" required="">
                    </div>
                    <div class="form-group">
                        <label for="inputPasswordNew">New Password</label>
                        <input type="password" class="form-control" id="inputPasswordNew" required="">
                        <span class="form-text small text-muted">
                                The password must be 8-20 characters, and must <em>not</em> contain spaces.
                            </span>
                    </div>
                    <div class="form-group">
                        <label for="inputPasswordNewVerify">Verify</label>
                        <input type="password" class="form-control" id="inputPasswordNewVerify" required="">
                        <span class="form-text small text-muted">
                            To confirm, type the new password again.
                        </span>
                    </div>
                    <div class="form-group">
                        <button id="save_btn" class="btn btn-success btn-lg float-right">Save</button>
                    </div>
                <!-- </form> -->
            </div>
        </div>
        <!-- /form card change password -->

    </div>
</div>
{% endblock %}
{% block script %}
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    $().ready(function () {

        $('#save_btn').click(function() {
            ajax_setup();

            var old_pass = $('#inputPasswordOld').val();
            var new_pass = $('#inputPasswordNew').val();
            var verify_pass = $('#inputPasswordNewVerify').val();
            
            if (old_pass == '') {
                toastr.error('Please type a current password!');
                $('#inputPasswordNewVerify').val("");
                $('#inputPasswordNew').val("");
                return;
            } else if (new_pass == '') {
                toastr.error('Please type a new password!');
                $('#inputPasswordNewVerify').val("");
                return;
            } else if (verify_pass == '') {
                toastr.error('Please verify a new password!');
                return;
            }

            if (new_pass != verify_pass) {
                toastr.error("New Password does not match!");
                $('#inputPasswordNewVerify').val("");
                $('#inputPasswordNew').val("");
                return;
            }

            $.ajax({
                type: "POST",
                url: '{% url "checkOldPassword" %}',
                data: {oldPassword: old_pass},
                success: function(res) {
                    if (res.msg == 'success') {
                        ajax_setup();
                        $.ajax({
                            type: "POST",
                            url: '{% url "amendPass" %}',
                            data: {new_pass: new_pass},
                            success: function (res) {
                                if (res.msg == 'success') {
                                    toastr.success("Successfully changed!");
                                    $('#inputPasswordOld').val("");
                                    $('#inputPasswordNewVerify').val("");
                                    $('#inputPasswordNew').val("");
                                }
                            },
                            error: function () {
                                toastr.error('Error occured while processing, try again please!');
                            }

                        });

                    } else {
                        toastr.error('Current password is incorrect!');
                        $('#inputPasswordOld').val("");
                        $('#inputPasswordNewVerify').val("");
                        $('#inputPasswordNew').val("");
                    }
                },
                error: function() {
                    toastr.error('Error occured while processing, try again please!');
                    $('#inputPasswordOld').val("");
                }
            });
        });
    });

    function ajax_setup() {
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": csrftoken
            }
        });
    }
</script>
{% endblock %}